<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "About", about_path %>

  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to 'Enable 2FA', two_factor_authentication_path %>
    <%= link_to "Log in", new_user_session_path %>
  <% end %>
</nav>
