<!DOCTYPE html>
<html>
  <head>
    <title>Secure Journal App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-blue-100 p-8">  <-- THIS IS YOUR ONLY <body> TAG NOW
    <%= render 'layouts/navigation' %>

    <div class="main-content">
      <p style="color: green"><%= notice %></p>
      <p style="color: red"><%= alert %></p>
      <%= yield %>
    </div>
  </body>  <-- AND THIS IS YOUR ONLY CLOSING </body> TAG
</html>
